<strong>Olá, {{ deliveryman }}</strong>
<p>Uma entrega que você estava responsável foi cancelada. Veja mais detalhes:</p>
<p>
  <hr />
  <strong>Produto:</strong> {{ product }} <br />
  <hr />
  <strong>Destinatário: </strong> <br />
  <hr />
  <strong>Nome:</strong> {{ name }} <br />
  <strong>Endereço:</strong> {{ street }} <br />
  <strong>Número:</strong> {{ number }} <br />
  <strong>Complemento:</strong> {{ complement }} <br />
  <strong>CEP:</strong> {{ zipCode }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <hr />
  <strong>Problema:</strong> {{ problem }} <br />
  <hr />
  <br />
  <small>
    Para mais informações, contatar a transportadora.
  </small>
</p>
