<strong>Olá, {{ deliveryman }}</strong>
<p>Uma entrega que você estava responsável foi cancelada. Veja mais detalhes:</p>
<p>
  <hr />
  <strong>Produto:</strong> {{ product }} <br />
  <hr />
  <strong>Destinatário: </strong> <br />
  <hr />
  <span>Nome do destinatário: {{ name }}</span> <br />
  <span>CEP: {{ zipCode }}</span> <br />
  <span>Número: {{ number }}</span> <br />
  <span>Complemento: {{ complement }}</span> <br />
  <strong>Problema:</strong> {{ problem }} <br />
  <hr />
  <br />
  <small>
    Para mais inforamações, contatar a transportadora.
  </small>
</p>
